* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* section number one................................................. */

.container {
    width: 100%;
    margin: 0 auto;
}

.sec-one {
    background-image: linear-gradient(rgba(0, 0, 0, 0.455), rgba(0, 0, 0, 0.438)), url(../my-work/img/main-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
}

.ali {
    align-items: center;
}

.logo {
    width: 100px;

}

.logo img {
    width: 100%;
    /* vertical-align: middle; */
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.jsc {
    justify-content: space-between;
}

.link ul li {
    display: inline-block;
    margin: 60px 0px 60px 80px;
}

.link ul li a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
}

i {
    color: white;
    font-size: 20px;
}

.home-sec {
    padding: 80px 0 100px 0;
}

.main-home-text {
    padding: 0 0 100px 0;
}

.main-home-text h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 100px;
    font-family: sans-serif;
    color: white;
}

.main-home-text p {
    width: 50%;
    margin: 30px auto;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.order-now {
    text-align: center;
}

.setup {
    padding-bottom: 20px;
}

.order-now button {
    border-radius: 4px;
    padding: 10px 40px;
    background-color: #f6d365;
    font-size: 15px;
    font-weight: bold;
    border: none;
    text-transform: uppercase;
}

/* section number two................................. */

.sec-two {
    background-color: #f6d365;
    position: relative;
    overflow: hidden;
}

.sec-two-main .sec-two-text h3 {
    text-align: center;
    font-size: 65px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.sec-two-text {
    padding: 50px 0;
}

.sec-two-text p {
    width: 50%;
    margin: 20px auto;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 0, 0);
}

.card .col-30 {
    width: 100%;
    padding: 0 0 98px 0;
}

.card img {
    position: relative;
    width: 100%;
    z-index: 100;
}

.card h3 {
    text-align: center;
    padding: 10px 0;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

.card p {
    width: 70%;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

/* -----sec-two image positions----- */
.s2-pos {
    position: absolute;
}

.i-two-1 {
    top: 40px;
    left: -70px;
}

.i-two-2 {
    top: 25px;
    left: 250px;
}

.i-two-3 {
    top: 30px;
    right: 300px;
}

.i-two-4 {
    top: 40px;
    right: 50px;
}

.i-two-5 {
    bottom: 80px;
    left: 60px;
}

.i-two-6 {
    bottom: 25px;
    left: 450px;
}

.i-two-7 {
    bottom: 30px;
    right: 450px;
}

.i-two-8 {
    bottom: 40px;
    right: -80px;
}

/* section number three.............................. */

.sec-three {
    background-color: #333333;
    padding: 50px 0;
    overflow: hidden;
    position: relative;
}

.sec-three-main .col-30 {
    width: 100%;
}

.sec-three-main .col-50 {
    width: 100%;
}

.sec-three-main img {
    width: 100%;
    position: relative;
    z-index: 100;
}

.sec-three h4 {
    font-size: 70px;
    text-transform: uppercase;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: 20px 0;
}

.sec-three p {
    width: 95%;
    color: white;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    margin: 20px 0;
}

.setup {
    padding: 20px 0;
}

.order-now-2 button {
    border-radius: 4px;
    padding: 10px 40px;
    background-color: #f6d365;
    font-size: 15px;
    font-weight: bold;
    border: none;
    text-transform: uppercase;
}

/* Section three position part............ */

.s3-pos {
    position: absolute;
}

.i-three-1 {
    top: 30px;
    left: 30px;
}

.i-three-2 {
    top: 40px;
    left: 650px;
}

.i-three-3 {
    top: 40px;
    right: 450px;
}

.i-three-4 {
    top: -120px;
    right: -70px;
}

.i-three-5 {
    bottom: 70px;
    left: 80px;
}

.i-three-6 {
    bottom: 150px;
    left: 650px;
}

.i-three-7 {
    bottom: 30px;
    right: 450px;
}

.i-three-8 {
    bottom: 50px;
    right: 60px;
    width: 10%;
}

.i-three-9 {
    top: 200px;
    right: 50px;
}


/* Section number four................................ */

.sec-four {
    background-color: #f6d365;
    overflow: hidden;
}

.sec-four-main h5 {
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    font-family: sans-serif;
    color: black;
}

.sec-four-main p {
    width: 50%;
    margin: 30px auto;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: rgb(6, 6, 6);
}

.sec-four-card .col-30 {
    width: 100%;
    padding: 98px 0 98px 0;
    border: 10px solid black;
}

.sec-four-card .main-t {
    text-align: center;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
}

.sec-four-card .sub-t {
    font-size: 40px;
    padding: 20px 0 0 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.sec-four-card {
    padding: 30px 0;
}

.padd-setup {
    padding: 60px 0 90px 0;
}

/* section number five................................ */

.sec-five {
    background-color: #333333;
    padding: 50px 0;
    overflow: hidden;
}

.sec-five-main .col-30 {
    width: 100%;
}

.space {
    justify-content: space-evenly;
}

.sec-five-main .col-50 {
    width: 100%;
}

.sec-five-main img {
    width: 100%;
}

.sec-five h6 {
    font-size: 70px;
    text-transform: uppercase;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: 20px 0;
}

.sec-five p {
    width: 95%;
    color: white;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    margin: 20px 0;
}

.setup {
    padding: 20px 0;
}

.order-now-2 button {
    border-radius: 4px;
    padding: 10px 40px;
    background-color: #f6d365;
    font-size: 15px;
    font-weight: bold;
    border: none;
    text-transform: uppercase;
}


/* section number six................................. */

.main-part {
    background-image: linear-gradient(rgba(255, 255, 255, 0.792), rgba(255, 255, 255, 0.732)), url(../my-work/img/main-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
}

.image {
    width: 30%;
    margin: 0 auto;
    padding: 100px 0 90px 0;
}

.image img {
    width: 100%;
}

.text-part p {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: #333333;
}

.title-text h2 {
    text-align: center;
    padding: 30px 0 100px 0;
    font-weight: bolder;
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
    color: #333333;
}

.title-padd {
    padding-bottom: 70px;
}

/* section number seven......................... */

.sec-seven {
    background-color: #f6d365;
    overflow: hidden;
}

.sec-seven-main {
    padding: 100px 0;
}

.sec-seven-sub-text p {
    width: 70%;
    margin: 0 auto;
    padding: 30px 0 80px 0;
    text-align: center;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    color: #333333;
}

.sec-seven-main-text h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    color: #333333;
}

.input-box input {
    width: 30%;
    padding: 12px;
    border-radius: 4px;
    text-align: center;
    border: none;
}

.input-box {
    text-align: center;
    position: relative;
    padding: 0 0 100px 0;
    justify-content: center;
}

.input-box button {
    padding: 12px;
    margin-left: -5px;
    text-align: center;
    width: 100px;
    border-radius: 0 4px 4px 0;
    background-color: #333333;
    color: white;
    border: none;
}

.padding {
    padding: 65px 0;
}

/* section number eight............................... */

.sec-eight {
    background-color: #333333;
    overflow: hidden;
}

.sec-eight-main {
    color: white;
    padding: 100px 0;
}

.sec-eight-main .col-30 {
    width: 100%;
}

.sec-eight-col-60 {
    width: 100%;
}

.sec-eight-col-60 .col-30 {
    width: 100%;
}

.sec-eight-main .col-30 h1 {
    font-size: 30px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

.sec-eight-main .col-30 p {
    padding: 30px 0;
    width: 85%;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

.sec-eight-main .col-30 i {
    font-size: 25px;
    display: inline-block;
    margin: 0 5px;
}

.sec-eight-col-60 .col-30 .main-h2 h2 {
    font-size: 30px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

.sec-eight-col-60 .col-30 .sub-h2 h2 {
    font-size: 18px;
    font-weight: 300;
    padding: 5px 0;
    font-family: 'Montserrat', sans-serif;
}

.sub-h2 {
    padding: 20px 0 0 0;
}

.padd-set {
    padding: 100px 0;
}

.sec-eight-col-60 .col-30 .main-h3 h3 {
    font-size: 30px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}

.sec-eight-col-60 .col-30 .sub-h3 h3 {
    font-size: 18px;
    font-weight: 300;
    padding: 5px 0;
    font-family: 'Montserrat', sans-serif;
}

.sub-h3 {
    padding: 20px 0 0 0;
}

.sec-eight-col-60 .col-30 .main-h4 h4 {
    font-size: 30px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}

.sec-eight-col-60 .col-30 .sub-h4 h4 {
    font-size: 18px;
    font-weight: 300;
    padding: 5px 0;
    font-family: 'Montserrat', sans-serif;
}

.sub-h4 {
    padding: 20px 0 0 0;
}


/* @media quary part............................................................................................ */

@media(min-width:320px) {
    .container {
        width: 270;
    }

    .card .col-30 {
        width: 55%;
        margin: 0 auto;
    }

    .main-home-text h1 {
        font-size: 35px;
    }

    .main-home-text p {
        width: 90%;
        font-size: 13px;
        font-weight: bold;
    }

    .sec-two-main .sec-two-text h3 {
        font-size: 15px;
    }

    .sec-two-text p {
        width: 90%;
        font-size: 13px;
        font-weight: bold;
    }

    .s2-card-text p {
        width: 90%;
        font-size: 10px;
        font-weight: bold;
    }

    .sec-three-main .col-30 {
        width: 30%;
    }

    .sec-three-main .col-50 {
        width: 60%;
    }

    .sec-three-main h4 {
        font-size: 15px;
    }

    .sec-three p {
        width: 100%;
        font-size: 10px;
        font-weight: bold;
    }

    .sec-four-card .col-30 {
        width: 80%;
        margin: 10px auto;
    }

    .sec-four-main h5 {
        font-size: 20px;
    }

    .sec-four-main p {
        width: 90%;
        font-size: 13px;
    }

    .sec-five-main .col-30 {
        width: 30%;
    }

    .sec-five-main .col-50 {
        width: 60%;
    }

    .sec-five-main h6 {
        font-size: 15px;
    }

    .sec-five p {
        width: 100%;
        font-size: 10px;
        font-weight: bold;
    }

    .sec-six .image {
        width: 18%;
    }

    .sec-six .text-part p {
        width: 90%;
        font-size: 13px;
    }

    .sec-six .title-text h2 {
        font-size: 20px;
    }

    .sec-seven-main-text h1 {
        font-size: 20px;
    }

    .sec-seven-sub-text p {
        width: 90%;
        font-size: 13px;
    }

    .sec-eight-main .col-30 {
        width: 100%;
    }

    .sec-eight-main .col-60 {
        width: 70%;
    }

    .sec-eight-col-60 .col-30 {
        width: 33%;
        padding: 30px 0;
        margin: 0 auto;
        text-align: center;
    }

    .sec-eight-main .col-30 h1 {
        font-size: 40px;
        text-align: center;
        font-weight: 400;
        font-family: 'Montserrat', sans-serif;
    }

    .sec-eight-main .col-30 p {
        text-align: center;
        margin: 0 auto;
        width: 65%;
        font-size: 15px;
    }

    .sec-eight-main .logos {
        display: block;
        text-align: center;
    }

    .sec-eight-main .col-30 i {
        font-size: 30px;
        padding-bottom: 50px;
    }

    .sec-eight-col-60 .col-30 .main-h2 h2 {
        font-size: 30px;
    }

    .sec-eight-col-60 .col-30 .sub-h2 h2 {
        font-size: 20px;
    }

    .sec-eight-col-60 .col-30 .main-h3 h3 {
        font-size: 30px;
    }

    .sec-eight-col-60 .col-30 .sub-h3 h3 {
        font-size: 20px;
    }

    .sec-eight-col-60 .col-30 .main-h4 h4 {
        font-size: 30px;
    }

    .sec-eight-col-60 .col-30 .sub-h4 h4 {
        font-size: 20px;
    }

    /* @-----possitions............... */

    .i-two-1 {
        top: 20px;
        left: -25px;
        width: 20%;
    }

    .i-two-2 {
        top: 16px;
        left: 60px;
        width: 12%;
    }

    .i-two-3 {
        top: 16px;
        right: 60px;
        width: 12%;
    }

    .i-two-4 {
        top: 20px;
        right: 5px;
        width: 16%;
    }

    .i-two-5 {
        bottom: 20px;
        left: 20px;
        width: 20%;
    }

    .i-two-6 {
        bottom: 25px;
        left: 115px;
        width: 13%;
    }

    .i-two-7 {
        bottom: 25px;
        right: 90px;
        width: 13%;
    }

    .i-two-8 {
        bottom: 25px;
        right: -20px;
        width: 20%;
    }

    .i-three-1 {
        top: 20px;
        left: -25px;
        width: 20%;
    }

    .i-three-2 {
        top: 16px;
        left: 60px;
        width: 12%;
    }

    .i-three-3 {
        top: 16px;
        right: 60px;
        width: 12%;
    }

    .i-three-4 {
        top: -10px;
        right: -10px;
        width: 16%;
    }

    .i-three-5 {
        bottom: 20px;
        left: 20px;
        width: 20%;
    }

    .i-three-6 {
        bottom: 25px;
        left: 115px;
        width: 13%;
    }

    .i-three-7 {
        bottom: 25px;
        right: 90px;
        width: 13%;
    }

    .i-three-8 {
        bottom: 25px;
        right: -20px;
        width: 20%;
    }

    .i-three-9 {
        top: 65px;
        right: 10px;
        width: 13%;
    }
}


@media(min-width:520px) {
    .container {
        width: 470;
    }

    .card .col-30 {
        width: 45%;
        margin: 0 auto;
    }

    .main-home-text h1 {
        font-size: 45px;
    }

    .main-home-text p {
        width: 75%;
        font-size: 15px;
        font-weight: 400;
    }

    .sec-two-main .sec-two-text h3 {
        font-size: 20px;
    }

    .sec-two-text p {
        width: 80%;
        font-size: 15px;
    }

    .s2-card-text p {
        width: 80%;
        font-size: 13px;
    }

    .sec-three-main .col-30 {
        width: 30%;
    }

    .sec-three-main .col-50 {
        width: 50%;
    }

    .sec-three-main h4 {
        font-size: 20px;
    }

    .sec-three p {
        width: 95%;
        font-size: 10px;
    }

    .sec-four-card .col-30 {
        width: 45%;
        margin: 10px auto;
    }

    .sec-four-main h5 {
        font-size: 30px;
    }

    .sec-four-main p {
        width: 80%;
        font-size: 15px;
    }

    .sec-five-main .col-30 {
        width: 30%;
    }

    .sec-five-main .col-50 {
        width: 50%;
    }

    .sec-five-main h6 {
        font-size: 20px;
    }

    .sec-five p {
        width: 95%;
        font-size: 10px;
    }

    .sec-six .image {
        width: 18%;
    }

    .sec-six .text-part p {
        width: 80%;
        font-size: 15px;
    }

    .sec-six .title-text h2 {
        font-size: 25px;
    }

    .sec-seven-main-text h1 {
        font-size: 20px;
    }

    .sec-seven-sub-text p {
        width: 80%;
        font-size: 15px;
    }

    .sec-eight-main .col-30 {
        width: 100%;
    }

    .sec-eight-main .col-60 {
        width: 60%;
    }

    .sec-eight-col-60 .col-30 {
        width: 30%;
    }

    .sec-eight-main .col-30 h1 {
        font-size: 40px;
        text-align: center;
        font-weight: 400;
        font-family: 'Montserrat', sans-serif;
    }

    .sec-eight-main .col-30 p {
        text-align: center;
        margin: 0 auto;
        width: 65%;
        font-size: 15px;
    }

    .sec-eight-main .logos {
        display: block;
        text-align: center;
    }

    .sec-eight-main .col-30 i {
        font-size: 30px;
        padding-bottom: 50px;
    }

    .sec-eight-col-60 .col-30 .main-h2 h2 {
        font-size: 20px;
    }

    .sec-eight-col-60 .col-30 .sub-h2 h2 {
        font-size: 15px;
    }

    .sec-eight-col-60 .col-30 .main-h3 h3 {
        font-size: 20px;
    }

    .sec-eight-col-60 .col-30 .sub-h3 h3 {
        font-size: 15px;
    }

    .sec-eight-col-60 .col-30 .main-h4 h4 {
        font-size: 20px;
    }

    .sec-eight-col-60 .col-30 .sub-h4 h4 {
        font-size: 15px;
    }

    /* @-----possitions............... */

    .i-two-1 {
        top: 20px;
        left: -30px;
        width: 20%;
    }

    .i-two-2 {
        top: 16px;
        left: 95px;
        width: 12%;
    }

    .i-two-3 {
        top: 16px;
        right: 95px;
        width: 12%;
    }

    .i-two-4 {
        top: 10px;
        right: 5px;
        width: 16%;
    }

    .i-two-5 {
        bottom: 20px;
        left: 20px;
        width: 20%;
    }

    .i-two-6 {
        bottom: 25px;
        left: 160px;
        width: 13%;
    }

    .i-two-7 {
        bottom: 25px;
        right: 150px;
        width: 13%;
    }

    .i-two-8 {
        bottom: 25px;
        right: -20px;
        width: 20%;
    }

    .i-three-1 {
        top: 15px;
        left: -25px;
        width: 20%;
    }

    .i-three-2 {
        top: 16px;
        left: 180px;
        width: 12%;
    }

    .i-three-3 {
        top: 16px;
        right: 150px;
        width: 12%;
    }

    .i-three-4 {
        top: -20px;
        right: -20px;
        width: 16%;
    }

    .i-three-5 {
        bottom: 10px;
        left: 10px;
        width: 10%;
    }

    .i-three-6 {
        bottom: 15px;
        left: 180px;
        width: 13%;
    }

    .i-three-7 {
        bottom: 20px;
        right: 130px;
        width: 13%;
    }

    .i-three-8 {
        bottom: 25px;
        right: 5px;
        width: 15%;
    }

    .i-three-9 {
        top: 85px;
        right: 10px;
        width: 10%;
    }
}

@media(min-width:768px) {
    .container {
        width: 718px;
    }

    .card .col-30 {
        width: 45%;
        margin: 0 auto;
    }

    .main-home-text h1 {
        font-size: 55px;
    }

    .main-home-text p {
        width: 65%;
        font-size: 18px;
        font-weight: 400;
    }

    .sec-two-main .sec-two-text h3 {
        font-size: 30px;
    }

    .sec-two-text p {
        width: 60%;
        font-size: 15px;
    }

    .s2-card-text p {
        width: 80%;
        font-size: 15px;
    }

    .sec-three-main .col-30 {
        width: 30%;
    }

    .sec-three-main .col-50 {
        width: 50%;
    }

    .sec-three-main h4 {
        font-size: 30px;
    }

    .sec-three p {
        width: 95%;
        font-size: 15px;
    }

    .sec-four-card .col-30 {
        width: 45%;
        margin: 10px auto;
    }

    .sec-four-main h5 {
        font-size: 30px;
    }

    .sec-four-main p {
        width: 60%;
        font-size: 15px;
    }

    .sec-five-main .col-30 {
        width: 30%;
    }

    .sec-five-main .col-50 {
        width: 50%;
    }

    .sec-five-main h6 {
        font-size: 30px;
    }

    .sec-five p {
        width: 95%;
        font-size: 15px;
    }

    .sec-six .image {
        width: 18%;
    }

    .sec-six .text-part p {
        width: 70%;
        font-size: 18px;
    }

    .sec-six .title-text h2 {
        font-size: 25px;
    }

    .sec-seven-main-text h1 {
        font-size: 30px;
    }

    .sec-seven-sub-text p {
        width: 70%;
        font-size: 18px;
    }

    .sec-eight-main .col-30 {
        width: 100%;
    }

    .sec-eight-main .col-60 {
        width: 60%;
    }

    .sec-eight-col-60 .col-30 {
        width: 30%;
    }

    .sec-eight-main .col-30 h1 {
        font-size: 40px;
        text-align: center;
        font-weight: 400;
        font-family: 'Montserrat', sans-serif;
    }

    .sec-eight-main .col-30 p {
        text-align: center;
        margin: 0 auto;
        width: 65%;
        font-size: 15px;
    }

    .sec-eight-main .logos {
        display: block;
        text-align: center;
    }

    .sec-eight-main .col-30 i {
        font-size: 30px;
        padding-bottom: 50px;
    }


    .sec-eight-col-60 .col-30 .main-h2 h2 {
        font-size: 20px;
    }

    .sec-eight-col-60 .col-30 .sub-h2 h2 {
        font-size: 15px;
    }

    .sec-eight-col-60 .col-30 .main-h3 h3 {
        font-size: 20px;
    }

    .sec-eight-col-60 .col-30 .sub-h3 h3 {
        font-size: 15px;
    }

    .sec-eight-col-60 .col-30 .main-h4 h4 {
        font-size: 20px;
    }

    .sec-eight-col-60 .col-30 .sub-h4 h4 {
        font-size: 15px;
    }

    /* @-----possitions............... */

    .i-two-1 {
        top: 20px;
        left: -50px;
        width: 20%;
    }

    .i-two-2 {
        top: 16px;
        left: 145px;
        width: 10%;
    }

    .i-two-3 {
        top: 16px;
        right: 145px;
        width: 10%;
    }

    .i-two-4 {
        top: 10px;
        right: 5px;
        width: 16%;
    }

    .i-two-5 {
        bottom: 20px;
        left: 20px;
        width: 20%;
    }

    .i-two-6 {
        bottom: 20px;
        left: 230px;
        width: 10%;
    }

    .i-two-7 {
        bottom: 20px;
        right: 200px;
        width: 13%;
    }

    .i-two-8 {
        bottom: 25px;
        right: -20px;
        width: 20%;
    }

    .i-three-1 {
        top: 15px;
        left: -25px;
        width: 20%;
    }

    .i-three-2 {
        top: 16px;
        left: 300px;
        width: 10%;
    }

    .i-three-3 {
        top: 16px;
        right: 180px;
        width: 10%;
    }

    .i-three-4 {
        top: -20px;
        right: -20px;
        width: 16%;
    }

    .i-three-5 {
        bottom: 10px;
        left: 10px;
        width: 15%;
    }

    .i-three-6 {
        bottom: 15px;
        left: 290px;
        width: 10%;
    }

    .i-three-7 {
        bottom: 20px;
        right: 190px;
        width: 10%;
    }

    .i-three-8 {
        bottom: 25px;
        right: 15px;
        width: 15%;
    }

    .i-three-9 {
        top: 125px;
        right: 10px;
        width: 8%;
    }
}

@media(min-width:992px) {
    .container {
        width: 942px;
    }

    .main-home-text h1 {
        font-size: 65px;
    }

    .main-home-text p {
        width: 55%;
        font-size: 20px;
        font-weight: 400;
    }

    .card .col-30 {
        width: 30%;
    }

    .sec-two-main .sec-two-text h3 {
        font-size: 40px;
    }

    .sec-two-text p {
        width: 60%;
        font-size: 18px;
    }

    .s2-card-text p {
        width: 80%;
        font-size: 15px;
    }

    .sec-three-main .col-30 {
        width: 30%;
    }

    .sec-three-main .col-50 {
        width: 50%;
    }

    .sec-three-main h4 {
        font-size: 40px;
    }

    .sec-three p {
        width: 95%;
        font-size: 18px;
    }

    .sec-four-card .col-30 {
        width: 30%;
    }

    .sec-five-main .col-30 {
        width: 30%;
    }

    .sec-four-main h5 {
        font-size: 40px;
    }

    .sec-four-main p {
        width: 50%;
        font-size: 17px;
    }

    .sec-five-main .col-50 {
        width: 50%;
    }

    .sec-five-main h6 {
        font-size: 40px;
    }

    .sec-five p {
        width: 95%;
        font-size: 18px;
    }

    .sec-six .image {
        width: 20%;
    }

    .sec-six .text-part p {
        width: 70%;
        font-size: 23px;
    }

    .sec-six .title-text h2 {
        font-size: 30px;
    }

    .sec-seven-main-text h1 {
        font-size: 40px;
    }

    .sec-seven-sub-text p {
        width: 70%;
        font-size: 20px;
    }

    .sec-eight-main .col-30 {
        width: 30%;
    }

    .sec-eight-main .col-60 {
        width: 60%;
    }

    .sec-eight-col-60 .col-30 {
        width: 30%;
    }

    .sec-eight-main .col-30 h1 {
        font-size: 20px;
        font-weight: 400;
        font-family: 'Montserrat', sans-serif;
    }

    .sec-eight-main .col-30 p {
        width: 90%;
        font-size: 13px;
    }

    .sec-eight-main .col-30 i {
        font-size: 20px;
    }

    .sec-eight-col-60 .col-30 .main-h2 h2 {
        font-size: 20px;
    }

    .sec-eight-col-60 .col-30 .sub-h2 h2 {
        font-size: 15px;
    }

    .sec-eight-col-60 .col-30 .main-h3 h3 {
        font-size: 20px;
    }

    .sec-eight-col-60 .col-30 .sub-h3 h3 {
        font-size: 15px;
    }

    .sec-eight-col-60 .col-30 .main-h4 h4 {
        font-size: 20px;
    }

    .sec-eight-col-60 .col-30 .sub-h4 h4 {
        font-size: 15px;
    }

    /* @-----possitions............... */

    .i-two-1 {
        top: 20px;
        left: -60px;
        width: 20%;
    }

    .i-two-2 {
        top: 16px;
        left: 205px;
        width: 10%;
    }

    .i-two-3 {
        top: 16px;
        right: 195px;
        width: 10%;
    }

    .i-two-4 {
        top: 10px;
        right: 5px;
        width: 16%;
    }

    .i-two-5 {
        bottom: 20px;
        left: 20px;
        width: 15%;
    }

    .i-two-6 {
        bottom: 20px;
        left: 290px;
        width: 10%;
    }

    .i-two-7 {
        bottom: 20px;
        right: 290px;
        width: 10%;
    }

    .i-two-8 {
        bottom: 25px;
        right: -70px;
        width: 20%;
    }

    .i-three-1 {
        top: 15px;
        left: -25px;
        width: 15%;
    }

    .i-three-2 {
        top: 16px;
        left: 390px;
        width: 8%;
    }

    .i-three-3 {
        top: 16px;
        right: 240px;
        width: 8%;
    }

    .i-three-4 {
        top: -60px;
        right: -30px;
        width: 16%;
    }

    .i-three-5 {
        bottom: 70px;
        left: 10px;
        width: 8%;
    }

    .i-three-6 {
        bottom: 15px;
        left: 380px;
        width: 10%;
    }

    .i-three-7 {
        bottom: 20px;
        right: 240px;
        width: 10%;
    }

    .i-three-8 {
        bottom: 25px;
        right: 35px;
        width: 15%;
    }

    .i-three-9 {
        top: 125px;
        right: 50px;
        width: 6%;
    }
}

@media(min-width:1200px) {
    .container {
        width: 1150px;
    }

    .card .col-30 {
        width: 30%;
    }

    .sec-three-main .col-30 {
        width: 30%;
    }

    .sec-three-main .col-50 {
        width: 50%;
    }

    .sec-four-card .col-30 {
        width: 30%;
    }

    .sec-five-main .col-30 {
        width: 30%;
    }

    .sec-five-main .col-50 {
        width: 50%;
    }

    .sec-eight-main .col-30 {
        width: 30%;
    }

    .sec-eight-main .col-60 {
        width: 60%;
    }

    .sec-eight-col-60 .col-30 {
        width: 30%;
    }

    /* @---------position part............. */
    
    .i-two-1 {
        top: 20px;
        left: -60px;
        width: 15%;
    }

    .i-two-2 {
        top: 16px;
        left: 205px;
        width: 8%;
    }

    .i-two-3 {
        top: 16px;
        right: 285px;
        width: 8%;
    }

    .i-two-4 {
        top: 10px;
        right: 30px;
        width: 16%;
    }

    .i-two-5 {
        bottom: 20px;
        left: 20px;
        width: 13%;
    }

    .i-two-6 {
        bottom: 20px;
        left: 350px;
        width: 8%;
    }

    .i-two-7 {
        bottom: 20px;
        right: 350px;
        width: 8%;
    }

    .i-two-8 {
        bottom: 25px;
        right: -70px;
        width: 15%;
    }

    .i-three-1 {
        top: 15px;
        left: -25px;
        width: 12%;
    }

    .i-three-2 {
        top: 16px;
        left: 470px;
        width: 8%;
    }

    .i-three-3 {
        top: 16px;
        right: 330px;
        width: 8%;
    }

    .i-three-4 {
        top: -80px;
        right: -30px;
        width: 15%;
    }

    .i-three-5 {
        bottom: 90px;
        left: 10px;
        width: 6%;
    }

    .i-three-6 {
        bottom: 60px;
        left: 460px;
        width: 8%;
    }

    .i-three-7 {
        bottom: 50px;
        right: 290px;
        width: 8%;
    }

    .i-three-8 {
        bottom: 25px;
        right: 35px;
        width: 13%;
    }

    .i-three-9 {
        top: 165px;
        right: 100px;
        width: 6%;
    }
}