*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* section number one................................................. */

.container{
    width: 100%;
    margin: 0 auto;
}

.sec-one{
    background-image: linear-gradient(rgba(0, 0, 0, 0.455), rgba(0, 0, 0, 0.438)), url(../my-work/img/main-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
}

.ali{
    align-items: center;
    /* padding: 5px 0; */
    /* line-height: 50px; */
}
.logo{
    width: 100px;
    
}
.logo img{
    width: 100%;
    /* vertical-align: middle; */
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.jsc{
    justify-content: space-between;
    /* justify-content: space-evenly; */
}

.link ul li{
    display: inline-block;
    margin: 60px 0px 60px 80px;
}

.link ul li a{
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
}

i{
    color: white;
    font-size: 20px;
}

.home-sec{
    padding: 80px 0 100px 0;
}

.main-home-text{
    padding: 0 0 100px 0;
}
.main-home-text h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 100px;
    font-family: sans-serif;
    color: white;
    /* margin: 0 0 30px 0; */
}
.main-home-text p{
    width: 50%;
    margin: 30px auto;
    text-align: center;
    /* text-transform: uppercase; */
    font-size: 25px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.order-now{
    /* display: inline-block; */
    /* margin: 0 auto; */
    text-align: center;
}
.setup{
    padding-bottom: 20px;
}
.order-now button{
    border-radius: 4px;
    padding: 10px 40px;
    background-color: #f6d365;
    font-size: 15px;
    font-weight: bold;
    border: none;
    text-transform: uppercase;
}

/* section number two................................. */

.sec-two{
    background-color: #f6d365;
    position: relative;
    overflow: hidden;
}

.sec-two-main .sec-two-text h3{
    text-align: center;
    font-size: 65px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}
.sec-two-text{
    padding: 50px 0;
}
.sec-two-text p{
    width: 50%;
    margin: 20px auto;
    text-align: center;
    /* text-transform: uppercase; */
    font-size: 25px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 0, 0);
}
.card .col-30{
    width: 100%;
    padding: 0 0 98px 0;
    /* border: solid black; */
}
.card img{
    width: 100%;
}
.card h3{
    text-align: center;
    padding: 10px 0;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}
.card p{
    width: 70%;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
/* -----sec-two image positions----- */
.s2-pos{
    position: absolute;
}
.i-two-1{
    top: 40px;
    left: -70px;
}
.i-two-2{
    top: 25px;
    left: 250px;
}
.i-two-3{
    top: 30px;
    right: 300px;
}
.i-two-4{
    top: 40px;
    right: 50px;
}
.i-two-5{
    /* z-index: -1; */
    bottom: 50px;
    left: 20px;
}
.i-two-6{
    bottom: 25px;
    left: 450px;
}
.i-two-7{
    bottom: 30px;
    right: 450px;
}
.i-two-8{
    bottom: 40px;
    right: -80px;
}

/* section number three.............................. */

.sec-three{
    background-color: #333333;
    padding: 50px 0;
    overflow: hidden;
}

.sec-three-main .col-30{
    width: 100%;
    /* border: 1px solid white; */
}

.sec-three-main .col-50{
    width: 100%;
    /* border: 1px solid white; */
}

.sec-three-main img{
    width: 100%;
}

.sec-three h4{
    font-size: 70px;
    text-transform: uppercase;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: 20px 0;
}

.sec-three p{
    width: 95%;
    color: white;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    margin: 20px 0;
}

.setup{
    padding: 20px 0;
}

.order-now-2 button{
    border-radius: 4px;
    padding: 10px 40px;
    background-color: #f6d365;
    font-size: 15px;
    font-weight: bold;
    border: none;
    text-transform: uppercase;
}

/* Section number four................................ */

.sec-four{
    background-color: #f6d365;
    overflow: hidden;
}

.sec-four-main h5{
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    font-family: sans-serif;
    color:  black;
}

.sec-four-main p{
    width: 50%;
    margin: 30px auto;
    text-align: center;
    /* text-transform: uppercase; */
    font-size: 25px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: rgb(6, 6, 6);
}

.sec-four-card .col-30{
    width: 100%;
    padding: 98px 0 98px 0;
    border: 10px solid black;
}

.sec-four-card .main-t{
    text-align: center;
    /* padding: 10px 0; */
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
}
.sec-four-card .sub-t{
    font-size: 40px;
    padding: 20px 0 0 0 ;
    /* margin: 0 auto; */
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.sec-four-card{
    padding: 30px 0;
}

.padd-setup{
    padding: 60px 0 90px 0;
}

/* section number five................................ */

.sec-five{
    background-color: #333333;
    padding: 50px 0;
    overflow: hidden;
}

.sec-five-main .col-30{
    width: 100%;
    /* border: 1px solid white; */
}

.space{
    justify-content: space-evenly;
}
.sec-five-main .col-50{
    width: 100%;
    /* border: 1px solid white; */
}

.sec-five-main img{
    width: 100%;
}

.sec-five h6{
    font-size: 70px;
    text-transform: uppercase;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: 20px 0;
}

.sec-five p{
    width: 95%;
    color: white;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    margin: 20px 0;
}

.setup{
    padding: 20px 0;
}

.order-now-2 button{
    border-radius: 4px;
    padding: 10px 40px;
    background-color: #f6d365;
    font-size: 15px;
    font-weight: bold;
    border: none;
    text-transform: uppercase;
}


/* section number six................................. */

.main-part{
    background-image: linear-gradient(rgba(255, 255, 255, 0.792), rgba(255, 255, 255, 0.732)), url(../my-work/img/main-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
}

.image{
    width: 30%;
    margin: 0 auto;
    padding: 100px 0 90px 0;
}

.image img{
    width: 100%;
}

.text-part p{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    /* text-transform: uppercase; */
    font-size: 25px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: #333333;
}

.title-text h2{
    text-align: center;
    padding: 30px 0 100px 0;
    font-weight: bolder;
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
    color: #333333;
}

.title-padd{
    padding-bottom: 70px;
}

/* section number seven......................... */

.sec-seven{
    background-color: #f6d365;
    overflow: hidden;
}

.sec-seven-main{
    padding: 100px 0;
}
.sec-seven-sub-text p{
    width: 70%;
    margin: 0 auto;
    padding: 30px 0 80px 0;
    text-align: center;
    /* text-transform: uppercase; */
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    color: #333333;
}

.sec-seven-main-text h1{
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    color: #333333;
}

.input-box input{
    /* display: inline-block; */
    width: 30%;
    padding: 12px;
    border-radius: 4px;
    text-align: center;
    border: none;
}

.input-box{
    text-align: center;
    position: relative;
    padding: 0 0 100px 0;
    justify-content: center;
}

.input-box button{
    padding: 12px;
    margin-left: -5px;
    text-align: center;
    width: 100px;
    border-radius: 0 4px 4px 0;
    background-color: #333333;
    color: white;
    border: none;
}

.padding{
    padding: 65px 0;
}

/* section number eight............................... */

.sec-eight{
    background-color: #333333;
    overflow: hidden;
}

.sec-eight-main{
    color: white;
    padding: 100px 0;
}
.sec-eight-main .col-30{
    width: 30%;
}
.sec-eight-col-60{
    width: 60%;
}
.sec-eight-col-60 .col-30{
    width: 30%;
    /* justify-content: space-evenly; */
}

.sec-eight-main .col-30 h1{
    font-size: 30px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}
.sec-eight-main .col-30 p{
    padding: 30px 0;
    width: 85%;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}
.sec-eight-main .col-30 i{
    font-size: 25px;
    display: inline-block;
    margin: 0 5px;
}

.sec-eight-col-60 .col-30 .main-h2 h2{
    font-size: 30px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}
.sec-eight-col-60 .col-30 .sub-h2 h2{
    font-size: 18px;
    font-weight: 300;
    padding: 5px 0;
    font-family: 'Montserrat', sans-serif;
}
.sub-h2{
    padding: 20px 0 0 0;
}

.padd-set{
    padding: 100px 0;
}

.sec-eight-col-60 .col-30 .main-h3 h3{
    font-size: 30px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}
.sec-eight-col-60 .col-30 .sub-h3 h3{
    font-size: 18px;
    font-weight: 300;
    padding: 5px 0;
    font-family: 'Montserrat', sans-serif;
}
.sub-h3{
    padding: 20px 0 0 0;
}

.sec-eight-col-60 .col-30 .main-h4 h4{
    font-size: 30px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}
.sec-eight-col-60 .col-30 .sub-h4 h4{
    font-size: 18px;
    font-weight: 300;
    padding: 5px 0;
    font-family: 'Montserrat', sans-serif;
}
.sub-h4{
    padding: 20px 0 0 0;
}


/* @media quary part............................................................................................ */

@media(min-width:768px){
    .container{
        width: 718px;
    }
    .card .col-30{
        width: 45%;
        margin: 0 auto;
    }
    .sec-three-main .col-30{
        width: 30%;
    }
    .sec-three-main .col-50{
        width: 50%;
    }
    .sec-four-card .col-30{
        width: 45%;
        margin: 20px auto;
    }
    .sec-five-main .col-30{
        width: 30%;
    }
    .sec-five-main .col-50{
        width: 50%;
    }
    .sec-eight-main .col-30{
        width: 30%;
    }
    .sec-eight-main .col-60{
        width: 60%;
    }
    .sec-eight-col-60 .col-30{
        width: 30%;
    }
}

@media(min-width:992px){
    .container{
        width: 942px;
    }
    .card .col-30{
        width: 30%;
    }
    .sec-three-main .col-30{
        width: 30%;
    }
    .sec-three-main .col-50{
        width: 50%;
    }
    .sec-four-card .col-30{
        width: 30%;
    }
    .sec-five-main .col-30{
        width: 30%;
    }
    .sec-five-main .col-50{
        width: 50%;
    }
    .sec-eight-main .col-30{
        width: 30%;
    }
    .sec-eight-main .col-60{
        width: 60%;
    }
    .sec-eight-col-60 .col-30{
        width: 30%;
    }
}

@media(min-width:1200px){
    .container{
        width: 1150px;
    }
    .card .col-30{
        width: 30%;
    }
    .sec-three-main .col-30{
        width: 30%;
    }
    .sec-three-main .col-50{
        width: 50%;
    }
    .sec-four-card .col-30{
        width: 30%;
    }
    .sec-five-main .col-30{
        width: 30%;
    }
    .sec-five-main .col-50{
        width: 50%;
    }
    .sec-eight-main .col-30{
        width: 30%;
    }
    .sec-eight-main .col-60{
        width: 60%;
    }
    .sec-eight-col-60 .col-30{
        width: 30%;
    }
}